<table>
    <thead class="bg-slate-50">
    <tr>
        <th class="py-4 px-11 text-left">Тип</th>
        <th class="py-4 px-11 text-left">Адрес</th>
        <th class="py-4 px-11 text-left">Стоимость</th>
        <th class="py-4 px-11 text-left">Назначение</th>
        <% if (isWorker) { %>
            <th class="py-4 px-11 text-left">Статус
                <input type="checkbox" id="activeFilter" onchange="filterActive()" />
                <label for="activeFilter">Только активные</label>
            </th>
        <% } %>
        <th class="py-4 px-11 text-left w-fit"></th>
    </tr>
    </thead>

    <tbody id="tableBody" class="bg-white divide-y">
    <%
        const filteredHouses = isWorker ? houses : houses.filter(house => house.status); // Фильтруем дома по статусу
    filteredHouses.forEach(house => {
    %>
        <tr class="<%= house.status ? 'active' : 'inactive' %>">
            <td class="py-4 px-11">
                <% if (house.houseTypeName) { %>
                    <%= house.houseTypeName %>
                <% } %>
            </td>
            <td class="py-4 px-11">
                <span><%= house.address %>, <%= house.districtName %>, <%= house.cityName %></span>
            </td>
            <td class="py-4 px-11">
                <span><%= house.cost %></span>
            </td>
            <td class="py-4 px-11">
                <span><%= house.housePurposeName %></span>
            </td>
            <% if (isWorker) { %>
                <td><%= house.status ?  'Активный' : 'Неактивный' %></td>
            <% } %>
            <td class="py-4 px-11 w-fit text-right">
                <a class="text-blue-500 underline" href="/houses/<%= house.id %>">Открыть</a>
            </td>
        </tr>
    <% }) %>
    </tbody>
</table>

<script>
    function filterActive() {
        const checkbox = document.getElementById('activeFilter');
        const rows = document.querySelectorAll('#tableBody tr');

        rows.forEach(row => {
            if (checkbox.checked) {
                // Показывать только активные
                if (row.classList.contains('active')) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            } else {
                // Показывать все
                row.style.display = '';
            }
        });
    }
</script>
