<%- include('../layout/base/top', {title: title, isWorker: isWorker}); %>

<form method="post" action="/registration/worker" class="bg-white p-4 w-fit rounded">
    <div class="flex mb-4 items-center flex-wrap gap-6 w-[60rem]">
        <h1 class="font-semibold text-2xl">Зарегистрировать сотрудника</h1>
    </div>

    <div class="flex flex-col gap-2">
        <%- include('../components/input/base', {id: 'surname', placeholder: 'Фамилия', required: true}); -%>
        <%- include('../components/input/base', {id: 'name', placeholder: 'Имя', required: true}); -%>
        <%- include('../components/input/base', {id: 'secondName', placeholder: 'Отчество'}); -%>
        <%- include('../components/input/base', {id: 'email', placeholder: 'Email', required: true}); -%>
        <%- include('../components/input/base', {id: 'password', placeholder: 'Пароль', required: true}); -%>

        <div class="w-64">
            <label for="department" class="block mb-2 text-sm font-medium text-gray-900">Отдел:</label>
            <select required id="department" name="department" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 invalid:border-red-500 invalid:text-red-600">
                <option disabled>Выберете отдел</option>
                <% departments.map((dep) => { %>
                    <option value="<%= dep.id %>"><%= dep.name %></option>
                <% }) %>
            </select>
        </div>
    </div>

    <div class="flex gap-4 mt-4">
        <%- include('../components/button/primary', {text: 'Сохранить', type: 'submit'}) %>
        <a href="/">
            <%- include('../components/button/outline', {text: 'Отменить'}) %>
        </a>
    </div>
</form>

<%- include('../layout/base/bottom'); -%>